


<nav class="uk-navbar-container uk-margin" uk-navbar>
    <div class="uk-navbar-left">

        <a class="uk-navbar-item uk-logo" href="#">PIZZA API</a>

        <ul class="uk-navbar-nav">
            <li>
                <a href="/">
                    <span class="uk-icon uk-margin-small-right" uk-icon="icon: home"></span>
                    Home
                </a>
            </li>


            <li>
                <a href="/json/">
                    <span class="uk-icon uk-margin-small-right" uk-icon="icon: star"></span>
                    Json
                </a>
            </li>

            <li>
                <a href="/gallery/">
                    <span class="uk-icon uk-margin-small-right" uk-icon="icon: star"></span>
                    gallery
                </a>
            </li>

        </ul>


        <div class="uk-navbar-item">
            <form method="POST" action="/lister/">
                <input class="uk-input uk-form-width-small" type="text" placeholder="99" name="numb">
                <button type="submit" class="uk-button uk-button-default">Search</button>
            </form>
        </div>

    </div>

<a id="js-scroll-trigger" class="uk-button uk-button-primary" href="#up" uk-scroll>Up</a>
</nav>
<span id="down"></span>
</div>	

<script src="https://getuikit.com/assets/uikit/dist/js/uikit.js?nc=8784"></script>
<script src="https://getuikit.com/assets/uikit/dist/js/uikit-icons.js?nc=8784"></script>



</body>
</html>
